<div class="network-settings wrapper <%= locked ? 'changes-locked' : '' %>">
  <h3>Network Settings</h3>

  <% if (net_manager) { %>
    <div class="networks-table"></div>
    <div class="networks-table quantum">
      <div>
        <legend class="networks">Neutron L2 Configuration</legend>
        <div>
          <div class="network-attribute">
            <div class="range-row-header mini"><div>Start</div><div>End</div></div>
            <label class="parameter-box clearfix setting">
              <div class="networks-sub-title parameter-name">VLAN ID range</div>
              <div class="range-row">
                <div class="parameter-control"><input type="text" value="2" name="" class="mini" /></div>
                <div class="parameter-control"><input type="text" value="4094" name="" class="mini" /></div>
                <div class="error"><span class="help-inline"></span></div>
              </div>
            </label>
          </div>
          <div class="network-attribute">
            <label class="parameter-box clearfix setting">
              <div class="networks-sub-title parameter-name">Base MAC address</div>
              <div class="parameter-control"><input type="text" value="fa:16:3e:00:00:00" name="" /></div>
              <div class="error"><span class="help-inline"></span></div>
            </label>
          </div>
        </div>
      </div>
      <div>
        <legend class="networks">Neutron L3 Configuration</legend>
        <div>
          <div class="range-row-header">External network</div>
          <div class="network-attribute">
            <label class="parameter-box clearfix setting">
              <div class="networks-sub-title parameter-name">CIDR</div>
              <div class="parameter-control"><input type="text" value="10.0.0.2/27" name="" disabled /></div>
              <div class="error"><span class="help-inline"></span></div>
            </label>
          </div>
          <div class="network-attribute">
            <div class="range-row-header mini"><div>Start</div><div>End</div></div>
            <label class="parameter-box clearfix setting">
              <div class="networks-sub-title parameter-name">Floating IP range</div>
              <div class="range-row">
                <div class="parameter-control"><input type="text" value="128.5.5.6" name="" class="mini" /></div>
                <div class="parameter-control"><input type="text" value="128.5.5.36" name="" class="mini" /></div>
                <div class="error"><span class="help-inline"></span></div>
              </div>
            </label>
          </div>
          <div class="network-attribute">
            <label class="parameter-box clearfix setting">
              <div class="networks-sub-title parameter-name">Gateway</div>
              <div class="parameter-control"><input type="text" value="172.16.1.1" name="" disabled /></div>
              <div class="error"><span class="help-inline"></span></div>
            </label>
          </div>
          <div class="range-row-header">Internal network</div>
          <div class="network-attribute">
            <label class="parameter-box clearfix setting">
              <div class="networks-sub-title parameter-name">CIDR</div>
              <div class="parameter-control"><input type="text" value="10.0.0.45/22" name="" /></div>
              <div class="error"><span class="help-inline"></span></div>
            </label>
          </div>
          <div class="network-attribute">
            <label class="parameter-box clearfix setting">
              <div class="networks-sub-title parameter-name">Name servers</div>

              <div class="range-row ip-range-row clearfix">
          <label class="parameter-box clearfix setting">
            <div class="parameter-control">
              <input type="text" name="" value="8.8.8.8" />
            </div>
          </label>
          <div class="ip-ranges-control">
            <button class="btn btn-link ip-ranges ip-ranges-add"><i class="icon-plus-circle"></i></button>
          </div>
          <div class="ip-ranges-control">
            <button class="btn btn-link ip-ranges ip-ranges-delete"><i class="icon-minus-circle"></i></button>
          </div>
          <div class="error"><span class="help-inline"></span></div>
        </div>
              <div class="range-row ip-range-row clearfix">
          <label class="parameter-box clearfix setting">
            <div class="parameter-control">
              <input type="text" name="" value="8.8.4.4" />
            </div>
          </label>
          <div class="ip-ranges-control">
            <button class="btn btn-link ip-ranges ip-ranges-add"><i class="icon-plus-circle"></i></button>
          </div>
          <div class="ip-ranges-control">
            <button class="btn btn-link ip-ranges ip-ranges-delete"><i class="icon-minus-circle"></i></button>
          </div>
          <div class="error"><span class="help-inline"></span></div>
        </div>

              <div class="error"><span class="help-inline"></span></div>
            </label>
          </div>
        </div>
      </div>
      <div>
        <legend class="networks">Neutron Advanced Configuration</legend>
        <div>
          <div class="network-attribute">
            <label class="parameter-box clearfix setting">
              <div class="networks-sub-title parameter-name">Database reconnect interval (sec)</div>
              <div class="parameter-control"><input type="text" value="7" name="" /></div>
              <div class="error"><span class="help-inline"></span></div>
            </label>
          </div>
        </div>
      </div>
    </div>
  <% } else { %>
    <div class="row row-fluid">
      <div class="span4"></div>
      <div class="span4">
        <div class="progress progress-striped progress-success active">
          <div class="bar" style="width: 100%"></div>
        </div>
      </div>
    </div>
  <% } %>

  <!-- Verification control -->
  <br/><br/><hr>
  <div class="row verification-control"></div>

  <!-- Buttons -->
  <div class="row">
    <div class="page-control-box">
      <div class="page-control-button-placeholder">
        <button class="btn verify-networks-btn" <%= verificationLocked ? 'disabled' : '' %>>Verify Networks</button>
        <button class="btn btn-revert-changes" <%= locked || !hasChanges? 'disabled' : '' %>>Cancel Changes</button>
        <button class="btn btn-success apply-btn" <%= locked || !hasChanges ? 'disabled' : '' %>>Save Settings</button>
      </div>
    </div>
  </div>
</div>
