<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3 data-i18n="dialog.discard_changes.title">Discard Changes</h3>
</div>
<div class="modal-body">

  <!-- Nodes changes -->
  <% var roles = cluster.availableRoles() %>
  <% var nodesToAdd = cluster.get('nodes').where({pending_addition: true}) %>
  <% if (nodesToAdd.length) { %>
    <div class="deploy-task-name" data-i18n="dialog.discard_changes.added">Added:</div>
    <% _.each(roles, function(role) { %>
      <% var count = _.filter(nodesToAdd, function(node) {return node.get('role') == role}).length %>
      <% if (count) { %>
        <div class="deploy-task-item"><%= count %> <%- $.t('dialog.discard_changes.'+role, {defaultValue: role}) %> <%- $.t('dialog.discard_changes.node', {defaultValue: 'node'}) %><%= count != 1 ? 's' : '' %></div>
      <% } %>
    <% }) %>
  <% } %>
  <% var nodesToDelete = cluster.get('nodes').where({pending_deletion: true}) %>
  <% if (nodesToDelete.length) { %>
    <div class="deploy-task-name" data-i18n="dialog.discard_changes.deleted">Deleted:</div>
    <% _.each(roles, function(role) { %>
      <% var count = _.filter(nodesToDelete, function(node) {return node.get('role') == role}).length %>
      <% if (count) { %>
        <div class="deploy-task-item"><%= count %> <%- $.t('dialog.discard_changes.'+role, {defaultValue: role}) %> <%- $.t('dialog.discard_changes.node', {defaultValue: 'node'}) %><%= count != 1 ? 's' : '' %></div>
      <% } %>
    <% }) %>
  <% } %>

  <hr class="slim">

  <div class="deploy-task-notice"><i class="icon-attention"></i> <%- $.t("dialog.discard_changes.alert_text", {defaultValue: 'Are you sure you want to discard all the changes you made?'}) %></div>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" data-i18n="dialog.discard_changes.bt_cancel">Cancel</button>
  <button class="btn btn-danger discard-btn" data-dismiss="modal" data-i18n="dialog.discard_changes.bt_discard">Discard</button>
</div>
